.nav {
  background-color: rgba(17, 82, 78, 0.4);
  display: flex;
  justify-content: flex-end;
}

.rightButtons{
  margin-left: auto;
}

.home {
  background-image: url(C:\Users\lugat\OneDrive\Desktop\Rick_and_Morty\Client\src\Assets\Sin-título-1.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-size: 130%;
  border-color: rgb(255, 255, 255);
  border-radius: 100%;
  border-width: 0.2em;
  margin: 0.5em;
  cursor: pointer;
  width: 3.0em;
  height: 3.0em;
}

.about {
  background-color: rgb(60, 190, 212);
  padding: 0.4em;
  color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  border-width: 0.2em;
  margin: 1em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.about:hover {
  background-color: rgb(151, 206, 76);
  border-color: rgb(60, 190, 212);
  color: rgb(247, 247, 247);
}



.logOut:hover {
  border-color: rgb(60, 190, 212);
}

.favorites{
  background-color: rgb(60, 190, 212);
  padding: 0.22em;
  color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  border-width: 0.2em;
  border-radius: 0.5em;
  cursor: pointer;
  margin-right: 15em;
}

.favorites:hover {
  background-color: rgb(151, 206, 76);
  border-color: rgb(60, 190, 212);
  color: rgb(247, 247, 247);
}

.logOut {
  background-image: url(C:\Users\lugat\OneDrive\Desktop\Rick_and_Morty\Client\src\Assets\logout.png);
  background-position: center;
  width: 2.9em;
  height: 2.9em;
  background-size: 120%;
  border-color: rgb(255, 255, 255);
  border-radius: 2em;
  cursor: pointer;
  padding-bottom: 1em;
  margin-right: 1em;
}

.img{
  width: 35%;
  padding: 1em 1em 1em 1em;
}



@media screen and (max-width: 600px){
  .favorites{
    margin-right: 7em;
  } 

  .img{
    width: 50%;
    padding: 1em 1em 1em 1em;
  }
} 



