.contain{
    box-shadow: 0.2em 0.5em 1.8em 0.3em hsl(83, 63%, 47%);
	background: rgba(17, 82, 78, 0.2); 
	border-radius: 2em;
	margin: 10em auto;
	width: 50em;
    display: flex;
    justify-content: center;
}


.detail{
	padding: 1em;
	width: 40%;
    display:block;
    text-align: start;
    
}

.img{
    width: 20em;
    height: 20em;
    margin-right: 10%;
    border-radius: 15px;
    margin: 1.5em 0em 1.5em 0em;
}

.info{
	font-size: 1.5em;
	color: #c7c5c5;
    text-align: start;  
}

.name{
    font-family: 'Bebas Neue';
	font-size: 2em;
	color: #babcc0;
    margin-left: 0.9em;
}

