.div{
    color:aliceblue;
}


h1{
    text-align: start;
    margin: 2em 1em 3em 3em;
}

h2{
 

    text-align: center;
    margin: 1em 1em 1em 1em;
}

p{


    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: large;
}


