.divCard{
display: grid;
grid-template-columns: repeat(auto-fit, 450px);
justify-content: center;
}

.Select{
    display: flex;
    background-color: transparent;
    color: rgb(60, 190, 212);
    border-color: rgb(255, 255, 255);
    border-width: 0.15em;
    margin: 1em;
    border-radius: 0.2em;
    font-size: 0.9em;
    font-weight: bold; 
}

.Label{
    color: rgb(229, 233, 234);
    display: flex;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
}


